.ipynb_checkpoints/
__pycache__/
*.pyc
.env
*.pem
*.key
*.secret
*.token
.aws/
.ssh/
.cache/
lost+found/
.Trash-1000/
.virtual_documents/
**/.ipynb_checkpoints/
.DS_Store
**/.DS_Store
.sparkmagic/
Braket algorithms/notebooks
Braket examples/examples
